body {
	background-image: url(images/lobby3.png);
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	background-size: cover;
	
	background-position: center 9%;
}


@media screen and (max-width: 600px) {
	body {
		background-image: none;
		background: lightgrey;
	}
}


/*Navbar style*/

.navbar.navbar-inverse {
	padding: 0px 0px;
}

.navbar .navbar-brand img {
	max-width: 80px;
}

.navbar-brand {
	margin: 0;
	padding: 0px 0px ;

}

.navbar > .container-fluid .navbar-brand {
	margin-left: 52px;
}

.nav>li {

	background-color: #4a8bff;
	margin: 1px 10px 1px 11px;
	padding: 0px 5px 0px 6px;
	color: #fff;
}

/*.navbar-nav li {
	display: inline-block;
	margin-right: 50px;
	position: relative;
	} */

	.navbar-nav li>a {
		display: block;
		padding-bottom: 5px;
		padding-top: 5px;
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		color: #fff;
		color: white!important;
	}

	.navbar .dropdown-menu a {
		color: black!important;
	}

	.collapse.navbar-collapse {
		margin-top: 10px;
	}


	/*announcement style*/
	.announcement
	{
		width: 100%;
		height: auto;

	/*position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 0;
	right: 65%;
	top: 3%;*/
	background-color: #4daf98;
	border: 4px solid white;
	border-image: url(s1.png) 30 stretch;
	background-image: url(images/blue.jpg);
}

.announcement:hover {	
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1); 
	transition: transform .5s ease;
}

@media screen and (max-width: 600px) {
	.announcement:hover, .announcement p:hover {
		transform: scale(1); 
	}
}

.announcement h1
{
	font-size: 20px;
	text-align: center;
	color: #fff;
}

.announcement p
{
	font-size: 14px;
	color: #fff;
	padding-left: 15px;
	padding-right: 12px;
	margin-top: -2px;
	width: 100%;
}




.announcement p:hover {
	-ms-transform: scale(1); /* IE 9 */
	-webkit-transform: scale(1); /* Safari 3-8 */
	transform: scale(1); 
	width: 100%;
	color:#f7f54c;

}

/*youtube style*/
.you_tubee {
	position: relative;
	top: 60px;
	margin: 0px auto;
	z-index: 1;
}

@media screen and (max-width: 600px) {
	.you_tubee  {
		position: static;
		margin: 0px auto;
	}
}

.you_tubee:hover {

	transition: transform .5s ease;
	-ms-transform: scale(1.3); /* IE 9 */
	-webkit-transform: scale(1.3); /* Safari 3-8 */
	transform: scale(1.3); 

}



/*exhibitor style*/
.solar_expo
{
	width: 100%;
	height: auto;
	
	/*position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 15%;
	left: 0px;
	right: 0;
	top: 4%;
	top: 0%;
	margin-top: 1.5%;*/
	padding:5px;
	background-color: #f4f4f6;
	border: 4px solid white;
	background-image: url(images/blue1.jpg)
}

.solar_expo:hover {	
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1); 
	transition: transform .5s ease;
}

@media screen and (max-width: 600px) {
	.solar_expo:hover {
		transform: scale(1);
	}
}


.solar_expo_main {
	width: 100%;
	height: auto;
	/*float:left;*/
	display: flex;

}

.solar_expo_main_right
{
	width: 70%;
	height: auto;
	/*float: right;*/

	background: white;
	padding: 10px 10px;
	background: #f4f4f6;
	background: transparent;
	color: white;

}
.solar_expo_main_right img
{
	width: 150px;

}

.solar_expo_main_left
{
	width:30%;
	height: auto;
	/*float: left;*/
	padding: 10px 10px;
}

.solar_expo_main_right p
{
	font-size: 14px;
	color: #01112f;
	line-height: 22px;
	color: white;
}



/*sponsors and banner style*/
.gold_sponser {
	width: 100%;
	width: 85%;
	width: 72%;
	height: 260px;
	height: auto;	
	z-index: 999;
	margin: 0 auto;
	/*position: absolute;
	left: 0;
	right: 72.5%;
	top: 29%;
	margin-left:9%;
	margin-top: 17%;
	background-color: #1c726f;
	background-image: linear-gradient(#19706d, #19706d);
	background-color: #a40606;
	background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
	background-image: url(images/slider_back2.jpg);
border-top:2px solid #4889fd;
*/

padding:5px;

}

.gold_sponser {
	position: relative;
	right: 54%;
	top: 9vh;
}

@media screen and (max-width: 600px) {
	.gold_sponser {
		position: static!important;
		margin-bottom: 20px;
		width: 100%;
	}
}




.gold_sponser:hover {	
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1); 
	transition: transform .5s ease;
}

@media screen and (max-width: 600px) {
	.gold_sponser:hover {
		-ms-transform: scale(1); /* IE 9 */
		-webkit-transform: scale(1); /* Safari 3-8 */
		transform: scale(1);		
	}
}

.gold_sponserxx {
	width: 100%;
	height: 265px;
	/*position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 0;
	right: 72.5%;
	top: 29%;
	margin-left: 9.4%;
	margin-top: 18%;*/
	background-color: #1c726f;
	background-image: linear-gradient(#19706d, #19706d);
	padding: 5px;
}


.gold_sponser_table {
	width: 100%;
	height: auto;
	float:left; 
	float: none; 

}

.gold_sponser_table .marquee {
	overflow-x:-webkit-marquee;
	-webkit-marquee-direction: up;
	-webkit-marquee-style: scroll;
	-webkit-marquee-speed: fast;
	-webkit-marquee-increment: small;
	-webkit-marquee-repetition: infinite;
}

@media only screen and (max-width: 600px) {	
	.gold_sponser_table_01.grow img {
		width: 70%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.gold_sponser_table h1
{
	font-size: 14px;
	text-align: center;
	color: #fcde48;
	color: navy;
	font-weight:bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

.gold_sponser_table_01
{
	width: 100%;
	height: auto;
	float:left;   
	padding: 3px;
}

.gold_sponser_table_01 img {
	width: 100%;
}


.gold_sponser_table_01:hover {
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1); 
	width: 100%;
}

@media screen and (max-width: 600px) {
	.gold_sponser_table_01:hover {
		-ms-transform: scale(1); /* IE 9 */
		-webkit-transform: scale(1); /* Safari 3-8 */
		transform: scale(1);		
	}
}



.grow img {
	width: 100%;
	text-align:center;
	margin:0 auto;
}

.gold_sponser_table p
{
	font-size: 14px;
	color: #fff;
	padding-left: 15px;
	padding-right: 12px;
	margin-top: -2px;
}


.new_arrival {
	width: 100%;
	width: 85%;
	width: 72%;
	height: auto;
	margin: 0 auto;
	/*position: absolute;
	z-index: 999;
	
	left: 0;
	right: 45.1%;
	top: 21%;
	background-color:#1e56b7;
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
	background-image: url(images/slider_back.jpg);
	border-top:2px solid #4889fd;
	*/



	padding:5px;
	
}

#new-arrival .owl-dots, #product-slider .owl-dots, #gold .owl-dots, #sponsor .owl-dots {
	display: none;
}


.new_arrival {
	position: relative;
	top: 11vh;
	left: -73%;
} 

@media screen and (max-width: 600px) {
	.new_arrival {
		position: static!important;	
		margin-bottom: 20px;
		width: 100%;		
	}
}






.new_arrival:hover {
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1); 
	transition: transform .5s ease;
}

@media screen and (max-width: 600px) {
	.new_arrival:hover {
		-ms-transform: scale(1); /* IE 9 */
		-webkit-transform: scale(1); /* Safari 3-8 */
		transform: scale(1); 
		transition: transform .5s ease;
	}
}

.new_arrival h1 {
	font-size: 14px;
	text-align: center;
	color: #fcde48;
	color: darkblue;
	font-weight:bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

.new_arrival p {
	font-size: 14px;
	color: #fff;
	padding-left: 15px;
	padding-right: 12px;
	margin-top: -2px;
}
.new_arrival_img {
	width: 100%;
	height: auto;
	float:left;
}

.new_arrival_img img {
	width: 100%;   
}

@media only screen and (max-width: 600px) {	
	.gold_sponser_table_01 img {
		width: 70%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}


.products {
	width: 100%;
	width: 62%;
	height: auto;
	/*position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 47%;
	right: 0%;
	top: 21.9%;
	background-color:#1e56b7;

	background-color: #a40606;
	background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
	background-image: url(images/slider_back2.jpg);
	
	border-top:2px solid #4889fd;
	*/

	

	padding:5px;
	
}

.products {
	position: absolute;
	top: 40px;
	left: 65%;
	margin: 0 auto;
}

@media screen and (max-width: 600px) {
	.products {
		position: static;
		margin-bottom: 20px;
		width: 100%;
	}
}

.products:hover {
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transition: transform .5s ease;
	transform: scale(1.1); 
}

@media screen and (max-width: 600px) {
	.products:hover {
		-ms-transform: scale(1); /* IE 9 */
		-webkit-transform: scale(1); /* Safari 3-8 */
		transform: scale(1); 
		transition: transform .5s ease;
	}
}

.products h1 {
	font-size: 14px;
	text-align: center;
	color: #fcde48;
	color: darkblue;
	font-weight:bold;
	margin-bottom:0px;
}

.products p
{
	font-size: 14px;
	color: #fff;
	padding-left: 15px;
	padding-right: 12px;
	margin-top: -2px;
}

.products_img {
	width: 100%;
	height: auto;
	float:left;
}

.products_img img {
	width: 100%; 

}


.silver_sponser {
	width: 100%;
	width: 72%;
	height: auto;
	margin: 0 auto;
	/*position: absolute;
	z-index: 999;

	left: 71.5%;
	right: 0;
	top: 29%;
	margin-left: 9.4%;
	margin-top: 17%;
	background-image: linear-gradient(#19706d, #19706d);
	background-color: #1c726f;
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
	background-image: url(images/slider_back.jpg);
	border-top:2px solid #4889fd;
	*/
	padding:5px;
	
}


.silver_sponser {
	position: relative;
	right: -10vw;
	top: 11vh;
}

@media screen and (max-width: 600px) {
	.silver_sponser {
		position: static;
		margin-bottom: 20px;
		width: 100%;		
	}
}

.silver_sponser:hover {	
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1); 
	transition: transform .5s ease;
}


@media screen and (max-width: 600px) {
	.silver_sponser:hover {
		-ms-transform: scale(1); /* IE 9 */
		-webkit-transform: scale(1); /* Safari 3-8 */
		transform: scale(1); 
		transition: transform .5s ease;
	}
}

.silver_sponservvv
{
	width: 100%;
	height: 52px;
	/*position:relative;
	z-index: 999;
	margin: 0 auto;
	left: 7%;
	right: 0;
	top: 2%;
	margin-left: 9.4%;
	margin-top: 17%;*/
	background-color:red;
}

.silver_sponser_table {
	width: 100%;
	height: auto;	
}


.silver_sponser_table h1 {
	font-size: 14px;
	text-align: center;
	color: #fff;
	font-weight:bold;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #fcde48;
	color:darkblue;
}

.silver_sponser_table_01
{
	width: 100%;
	height: auto;
	float:left;   
	padding: 3px;
}


.silver_sponser_table_01 img {
	width: 100%;
}


.moving_banner {
	width: 100%;
	height: auto;
	/*position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 0px;
	right: 0%;
	top: 33.2%;

	position: relative;
	top: 35px;*/
}

@media screen and (max-width: 600px) {
	.moving_banner {
		position: static;
	}
}



.moving_banner h1 {
	font-size: 18px;
	text-align: center;
	color: #fff;
}

.moving_banner p
{
	font-size: 14px;
	color: #fff;
	padding-left: 15px;
	padding-right: 12px;
	margin-top: -2px;
	width: 100%;
}




.moving_bannerv p:hover {
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1); 
	width: 100%;
}

.moving_banner img {
	width: 70%;
	height: 110px;
	height: auto;
	display: block;
	margin: 0px auto;
}

@media screen and (max-width: 600px ) {
	.moving_banner img {
		width: 100%;
		height: 150px;
	}
}

.moving_banner img:hover {	
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1); 
	transition: transform .5s ease;
	z-index: 999;
}


@media screen and (max-width: 600px) {

	.moving_banner img:hover {
		-ms-transform: scale(1); /* IE 9 */
		-webkit-transform: scale(1); /* Safari 3-8 */
		transform: scale(1);
		
	}
}



/* buttons style of audiotorirm, contact us , give v card and take v card*/

.span12.text-center.top-menu {
	position: relative;
	bottom: 30px;
}

@media screen and (max-width: 600px) {
	.span12.text-center.top-menu {
		position: static;
	}
}

.menu_round {
	background-color:#0f3f93;
	padding:15px;	
	border:2px solid #fff;
	border-radius: 50px;
	color:#fff;
}

.menu_round:hover {
	background-color:#ff9933;
	padding:15px;	
	border:2px solid #fff;
	border-radius: 50px;
	color:#fff;
}

.audit_menu {
	width: 46%;
	height: auto;
	/*position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 3%;
	right: 0%;
	top: 57.8%;*/
	display: flex;
	justify-content: center;
}

.btn-group.dropup.animated.top-menu button, .btn-group.dropup.animated.top-menu a {
	background: #0f3f93;	
	color: white;
}

.btn-group.dropup.animated.top-menu button:hover, .btn-group.dropup.animated.top-menu a:hover {
	background: #ff9933;	
	color: white;
}


.breadcrumb {
	background: none;
}

.audit_menu ul li a
{
	color:#fff;
	background-color: #0f3f93;
	padding:4px 14px 5px 14px;
	margin: 5px 0px 3px 0px;
	text-decoration:none;
}

.audit_menu ul li a:hover {
	color:#010203;
	background-color: #295cb6;
	text-decoration:none;
}



/*booth slider style*/


.slider001 {
	width: 50%;
	height: auto;
	/*position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 0;
	right: -9%;
	top: 65%;*/
}

/*small dots of booth*/

.slider001 .owl-theme .owl-dots .owl-dot span {
	background: teal!important;
}

.slider001 .owl-theme .owl-dots .owl-dot.active span {
	background: white!important;
}

.slider001  {
	position: relative;
	bottom: 40px;
}

@media screen and (max-width: 600px) {
	.slider001  {
		position: static;
		
	}
}



/*booth image size in small screen*/

.owl-item .card .booth_logo img {
	width:65px;
	height:40px;
}

@media screen and (max-width: 600px) {
	.owl-carousel .owl-item img {
		display: block;
		width: 60%!important;
		margin: auto;
	}


	.booth_logo {
		position: relative;
		top: -28vh!important;
		left: 2%!important;
	}

	.owl-item .card .booth_logo img {
		width: 73px!important;
		height:45px;
	}
}

.slider001 .owl-carousel.owl-theme .item {
	margin: 0px 10px;
}

@media screen and (max-width: 600px) {
	.slider001 {
		width: 100%;
	}
}

.owl-theme .owl-nav {
	display: none;
}


.card {
	position: relative !important;
	display: inline-block !important;
}

.card .clr1 {
	display: none ;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	z-index: 99 !important;
	height: auto;
	background-color: rgba(255,255,255,0.9);
	border-radius: 4px;
}


.card:hover .clr1 {
	display: block!important;
	/*width:110% !important;*/	
	z-index: 99999999 !important;	
	color: white;
}

@media screen and (max-width: 600px) {	
	.card:hover .img-top {
		display: none !important;

	}
}


.pm11
{
	position:relative
	z-index:99999;
}

.s222
{
	/*background-image:url(../booth/01.png);*/
	text-align:center;
	border-radius:2px;
}



.main_table2
{
	width:100%;
	float:left;
	border-radius:10px;
	height:auto;
	background-image:url(../booth/01.png);

}

.main_table2 p {
	text-align:left;
	color:#f20000;
	text-align:justify-all;
	color:#000 !important; 
	line-height:20px; 
	font-size:14px; 
	padding:5px;
	
}


.main_table2_logo
{
	width:25%;
	float:left;
	height:auto;

}

.main_table2_contents
{
	width:75%;
	float:left;
	height:auto;

}



.s222 h1
{

	text-align:center;
	font-size:14px;
	color:#f20000;
}

.s222 h2
{

	width: 100px;
	height: auto;
	text-align:center;
	margin:0 auto;
}



.main_table_wrapper
{
	width: 100%;
	height: auto;
	float: left;
	file:///C:/Users/karthi/Desktop/UTF/For_Client/New/dist/images/main.jpg

	background-image:url(../images/mainxx.jpg);

	position: relative;
	display: inline-block; 



}


.main_table_wrapper_fotter
{
	width: 100%;
	height: auto;
	float: left;
	file:///C:/Users/karthi/Desktop/UTF/For_Client/New/dist/images/main.jpg

	background-image:url(../images/fot_bg.jpg);
	background-repeat:repeat-x;

	position: relative;
	display: inline-block; 



}



.img1aa
{
	float:left;
	width:100%;
	height:auto;
}

.img1aa img
{

	width:100%;

}

.item {
	width: 100%;
}


.booth_logo {
	position: relative;
	top: -143px;
	left: 49px;
}

@media screen and (max-width: 600px) {
	.booth_logo {
		position: relative;
		top: -257px;
		left: 132px;
	}
}




/*Bottom button style of briefcase, exhibitor,visitor etc*/

/*button group style*/

.span12.text-center.bottom-menu {
	width: 53%;
	height: auto;
	/*position: fixed;*/
	z-index: 999;
	margin: 0 auto;
	left: 3%;
	right: 0%;
	bottom: 2px;
	border: 1px solid #8f9091;
	background-color: hsla(258, 100%, 87%, 0.9);
}

.span12.text-center.bottom-menu .btn {
	padding: 0px 12px!important;
}

@media screen and (max-width: 600px) {
	.span12.text-center.bottom-menu {
		position: static;
		width: 100%;
	}
}

.btn-group.animated.dropup button {
	background: none;
}


.btn-group.animated > .btn {
	transition: background-color 0.0625s cubic-bezier(0.28, 0, 0.99, -0.01);
}
.btn-group.animated > .btn:hover {
	transition: background-color 0.0625s cubic-bezier(0.28, 0, 0.99, -0.01);
}
.btn-group.animated > .dropdown-menu {
	width: 0;
	/*min-width: 100%;
	display: block;*/
	overflow-y: hidden;
	
	top: 0;
	z-index: -1;
	transition: height 0.375s ease, width 0.375s ease, min-width 0.375s ease, opacity 0.125s ease 0.0625s, top 0.0625s ease 0.375s, bottom 1s ease 0.375s, z-index 1.375s ease;
	opacity: 0;
}
.btn-group.animated > .dropdown-menu > li {
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: opacity 0.125s ease, height 0.375s ease;
}
.btn-group.animated.open {
	z-index: 1000;
}
.btn-group.animated.open > .dropdown-menu {
	top: 100%;
	width: 100%;
	min-width: 160px;
	transition: all 0.25s ease;
	opacity: 1;
	z-index: 1000;
}
.btn-group.animated.open > .dropdown-menu > li {
	height: 26px;
	height: auto;
	opacity: 1;
	transition: all 0.25s ease;
	text-align: center;
	margin: 5px;
}
.btn-group.animated.dropup > .dropdown-menu {
	top: auto;
	bottom: 0;
}
.btn-group.animated.dropup.open > .dropdown-menu {
	top: auto;
	bottom: 100%;
}
/* button group style end*/


/*left side social icons*/

.social-icons { position: fixed; left:1px;bottom:25%; visibility: hidden; }
.btn-social { cursor: pointer; width: 46px; height: 46px;   }
.social-icons .navbar-nav li { position: absolute; bottom: 0; z-index: -1; transition: .2s all; margin-left:-40px;}
.social-icons .navbar-nav.show li:nth-child(1){bottom: 60px}
.social-icons .navbar-nav.show li:nth-child(2){bottom: 120px}
.social-icons .navbar-nav.show li:nth-child(3){bottom: 180px;}
.social-icons .navbar-nav.show li:nth-child(4){bottom: 240px;}


.left_button {
	background-color:#fbc928;
	border:1px solid #fbc928;
}

/*.icon-bar {
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transform: translateY(50%);
}

.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
}

.icon-bar a:hover {
	background-color: #000;
	}*/





	.facebook {
		background: #3B5998;
		color: white;
	}

	.twitter {
		background: #55ACEE;
		color: white;
	}

	.google {
		background: #dd4b39;
		color: white;
	}

	.linkedin {
		background: #007bb5;
		color: white;
	}

	.youtube {
		background: #bb0000;
		color: white;
	}


	.btn-social1 {
		cursor: pointer;
		width: 46px;
		height: 46px;
	}

	.btn1 {
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}

	.btn-primary1 {
		color: #fff;
		background-color: #0145b4;
		border-color: #357ebd;
	}

	.btn-social2 {
		cursor: pointer;
		width: 46px;
		height: 46px;
	}

	.btn2 {
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}

	.btn-primary2 {
		color: #fff;
		background-color: #09bffe;
		border-color: #09bffe;
	}





	.btn-social3 {
		cursor: pointer;
		width: 46px;
		height: 46px;
	}

	.btn3 {
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}

	.btn-primary3 {
		color: #fff;
		background-color: #0986fe;
		border-color: #0986fe;
	}




	.btn-social4 {
		cursor: pointer;
		width: 46px;
		height: 46px;
	}

	.btn4 {
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}

	.btn-primary4 {
		color: #fff;
		background-color: #0986fe;
		border-color: #0986fe;
	}


	/*right side skype and whatsapp style*/

	#fixedsocial {
		visibility: hidden;
		top:40%;
		/*height:200px;*/
		width:60px;
		position:fixed;
		right: -9px;
	}

	.facebookflat {
		background:url("http://placehold.it/50x50");
		height:50px;
		width:50px;
		transition:ease 500ms;
		background-size:50px;
		opacity:1;
	}

	.facebookflat:hover {
		background:url("http://placehold.it/50x50");
		height:50px;
		width:50px;
		background-size:60px;
		opacity:0.5;
		transition:ease 500ms;
		margin-left:-20px;
		width:70px;

	}

	.twitterflat {
		background:url("http://placehold.it/50x50");
		height:50px;
		width:50px;
		transition:ease 500ms;
		background-size:50px;
		opacity:1;
	}

	.twitterflat:hover {
		background:url("http://placehold.it/50x50");
		height:50px;
		width:50px;
		background-size:60px;
		opacity:0.5;
		transition:ease 500ms;
		margin-left:-20px;
		width:70px;
	}


	@media screen and (max-width: 600px) {
		.social-icons, #fixedsocial {
			display: none;
		}
	}


	@media screen and (max-width: 600px) {
		#fixedsocial {
			display: block;
			position: static!important;
			transition: none!important;
			width:140px;
			margin: 0px auto;
		}

		#fixedsocial > div {
			display: inline ;
		}

		.facebookflat:hover, .twitterflat:hover {
			background:url("http://placehold.it/50x50");
			transition:none;
			-webkit-transition-property: none!important;
			-moz-transition-property:none!important;
			-o-transition-property: none!important;
			transition-property: none!important;
			margin-left:0px;
			
		}
	}


